*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: DM Sans;
    width: 100%;
}
.header{
    background-image: linear-gradient(#1e3c72,rgba(42, 82, 152, 1)), url(../images/pattern.png);
    height: 1000px;
    border-radius: 0 0 100px 0 ;
}
.header-menu{
    padding-top: 35px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 33px;
    display: flex;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.header_img-logo{
    width: 32px;
    height: 22px;
}
.header__logo-tetxt{
    font-family: poppins;
    font-weight: 700;
    color: white;
    font-size: 20px;
    line-height: 24px;
}
.header__list{
    width: 500px;
    justify-content: space-between;
    display: flex;
}
.header__link{
    background-color: #1e3c72;
    display: inline-block;
    padding: 16px 16px 14px;
    font-size: 15px;
    line-height: 24px;
    border-bottom: 2px solid transparent;
    color: #fff;
}
.header__link:hover{
    border-bottom: 2px solid #fff;
}
.header__link:active{
    border-bottom: 2px solid #191919;
    background-color: #191919;
    color: #FFFFFF;
}
.header__item{
    position: relative;
}
.header__sublist{
    width: 132px;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: -20px;
    background-color: #fff;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-top: 8px;
    overflow: hidden;
    z-index: -1;
    transform: translateY(-100%);
    transition: 0.5s;
}
.header__item:nth-child(2):hover .header__sublist{
    transform: translateY(0);
    visibility: visible;
}
.header__sublink{
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.header__sublink:hover{
    background-color: #00BAFC;
    color: #FFFFFF;
}
.header-btn{
    padding: 13px 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-color: white;
    background-color: #1e3c72;
    border-radius: 50px;
    border: 2px solid white;
}
.button-a{
    color: white;
}
.header__text{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.article{
    width: 600px;
    font-weight: 700;
    font-size: 65px;
    line-height: 60px;
    color: white;
    margin-bottom: 30px;
}
.header__p{
    color: #fff;
    width: 500px;
    height: 116px;
    font-weight: 500;
    font-size: 18px;
    line-height: 42px;
    margin-bottom: 38px;
}
.link__button{
    width: 400px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}
.link__btn-a{
    padding: 13px 31px;
    width: 155px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    border: 0;
    padding: 13px 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0F2137;
}
.img__video{
    margin-left: 20px;  
}
.img-phone{
    width: 800px;
    height: 610px;
}
.video__tetx{
    font-family: heebo;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin-left: 5px;
}
.payment-type{
    display: flex;
    height: 30px;
    align-items: center;
    gap: 20px;
}
.type__text{
    font-size: 16px;
    line-height: 42px;
    color: #fff;
}
.type__ul{
    display: flex;
    gap: 28px;
}
.section{
    margin-top: 65px;
}
.wrapp-title{
    text-align: center;
}
.wrapper__p{
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    color: 
    #244886;
}
.wrapper__h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
    color: #0F2137;
    
}
.wrapper-menu{
    margin-top: 78px;
    display: flex;
    justify-content: center;
}
.wrapper-info{
    width: 265px;
    text-align: center;
    
}
.info__h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #0F2137;
    margin: 21px 0;
}
.info__p{
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #343D48;
}
.main{
    display: flex;
    gap: 128px;
    margin-top: 200px;
    justify-content: center;
    margin-bottom: 166px;
}
.main__img{
    width: 479px;
    height: 837px;
    
}
.main__text-p{
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    color: #244886;
}
.main__text-h1{
    width: 510px;
    height: 124px;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #0F2137;
}
.main-logo__text{
    display: flex;
    gap: 18px;
    margin-bottom: 100px;
    margin-top: 80px;
}
.logo__info-f3{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #0F2137;
}
.logo__info-p{
    width: 263px;
    height: 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #343D48;
}
.nav__menu-group{
    display: flex;
}
.nav__menu-group{
    justify-content: center;
    gap: 66px;
    
}
.section-end{
    display: flex;
    justify-content: center;
}
.main__text-p1{
    margin: 60px 0;
    width: 450px;
    height: 160px;
    font-size: 18px;
    line-height: 42px;
    color: #02073E;
}
.section-end__a{
    font-weight: 500;
    border-radius: 50px;
    padding: 13px 31px;
    background-color: #02073E;
    color: #fff;
}